* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    height: 100vh;
    font-family: Avenir Next, SegoeUI, sans-serif;
}

.header {
    background-color: navy; 
    max-height: 200px;
}

.main { 
    overflow: auto; /* added an overflow rule to make the main area scroll if necessary */
}

.footer {
    background-color: darkred;
    max-height: 200px;
}