

.wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    font-family: Avenir Next, SegoeUI, sans-serif;
}

.components {
    background-color: white;
    border-left: 0.5px solid #d2d2d2;
    padding: 10px;
    min-width: 250px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}